@page "/eventos/{EventoId:int}/reservas"
@page "/personas/{PersonaId:int}/reservas"
@rendermode InteractiveServer
@layout MainLayout

@using CentroEventos.Aplicacion.Entidades
@using CentroEventos.UI.Components.Shared
@using CentroEventos.UI.Components.Pages.Reserva

@inject ReservaObtenerPorEventoUseCase ReservasPorEventoUseCase
@inject ReservaObtenerPorPersonaUseCase ReservasPorPersonaUseCase
@inject EventoDeportivoObtenerPorIdUseCase EventoDeportivoObtenerPorIdUseCase
@inject PersonaObtenerPorIdUseCase ObtenerPersonaPorIdUseCase
@inject ReservaEliminarUseCase ReservaEliminarUseCase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<ListLayout 
    TItem="Reserva"
    Titulo="Reservas"
    NombreDeEntidad="Reserva"
    NombreDeEntidades="Reservas"
    @ref="VistaDeListaDeReservas"
    RutaCrearNuevo="@RutaCrearNuevaReserva"
    TextoCrearNuevo="Crear Nueva Reserva"
    CargaDeDatosDelegado="@CargarReservas"
    EliminarDatoDelegado="@EliminarReserva"
    ExtraerNombreDelDato="@(r => r.Persona?.NombreCompleto ?? r.PersonaId.ToString())">
    <CabeceraDeTabla>
        @if (!string.IsNullOrEmpty(MensajeDeError))
        {
            <div class="alert alert-danger">@MensajeDeError</div>
        } else {
            <th>Persona</th>
            <th>Evento</th>
            <th>Fecha de Reserva</th>
            <th>Estado</th>
            <th style="width: 150px;">Acciones</th>
        }
    </CabeceraDeTabla>
    <VistaMovil Context="currentReserva">
        <ReservaTarjeta 
            Dato="currentReserva"
            SolicitarEliminacion="VistaDeListaDeReservas.MostrarConfirmacionDeEliminacion"
        />
    </VistaMovil>
    <FilaDeTabla Context="currentReserva">
        <ReservaFila
            Dato="currentReserva"
            SolicitarEliminacion="VistaDeListaDeReservas.MostrarConfirmacionDeEliminacion"
        />
    </FilaDeTabla>
</ListLayout>

@code {
    private ListLayout<Reserva> VistaDeListaDeReservas = null!;
    [Parameter]
    public int EventoId { get; set; } = 0;
    [Parameter]
    public int PersonaId { get; set; } = 0;
    [Parameter, Required]
    public int UsuarioId { get; set; } = 0;
    public string RutaCrearNuevaReserva = string.Empty;
    public string MensajeDeError { get; set; } = string.Empty;

    protected override void OnInitialized()
    {
        var customAuthenticationStateProvider = (CustomAuthStateProvider)AuthenticationStateProvider;
        UsuarioId = customAuthenticationStateProvider.ExtractUserId();
        if (EventoId <= 0 && PersonaId <= 0)
        {
            MensajeDeError = "Debe especificar un Evento o una Persona para cargar las reservas.";
            return;
        }
        ObtenerEvento();
        ObtenerPersona();
    }

    protected IEnumerable<Reserva> CargarReservas()
    {
        if (EventoId <= 0)
        {
            return ReservasPorPersonaUseCase.Ejecutar(PersonaId, UsuarioId);
        }
        return ReservasPorEventoUseCase.Ejecutar(EventoId, UsuarioId);
    }

    private void ObtenerEvento()
    {
        if (EventoId <= 0) return;
        EventoDeportivo evento = EventoDeportivoObtenerPorIdUseCase.Ejecutar(UsuarioId, EventoId);
        if (evento == null)
        {
            NavigationManager.NavigateTo("/eventos");
            return;
        }
        if (evento.FechaHoraInicio > DateTime.Now)
        {
            RutaCrearNuevaReserva = $"/eventos/{EventoId}/reservas/agregar";
        }
    }

    private void ObtenerPersona()
    {
        if (PersonaId <= 0) return;
        Persona persona = ObtenerPersonaPorIdUseCase.Ejecutar(UsuarioId, PersonaId);
        if (persona == null)
        {
            NavigationManager.NavigateTo("/personas");
            return;
        }
        RutaCrearNuevaReserva = $"/personas/{PersonaId}/reservas/agregar";
    }

    private void EliminarReserva(Reserva reservaAEliminar)
    {
        if (reservaAEliminar == null) return;
        ReservaEliminarUseCase.Ejecutar(UsuarioId, reservaAEliminar.PersonaId, reservaAEliminar.EventoDeportivoId);
        if (VistaDeListaDeReservas.Datos == null) return;
        var tempList = VistaDeListaDeReservas.Datos.ToList();
        tempList.RemoveAll(r => r.PersonaId == reservaAEliminar.PersonaId && r.EventoDeportivoId == reservaAEliminar.EventoDeportivoId);
        VistaDeListaDeReservas.Datos = tempList;
    }
}
