@page "/personas/{Id:int}"
@layout MainLayout
@rendermode InteractiveServer

@using CentroEventos.Aplicacion.Enums
@using CentroEventos.Aplicacion.Servicios
@using CentroEventos.UI.Components.Forms

@inject UsuarioObtenerPorIdUseCase UsuarioObtenerPorIdUseCase
@inject UsuarioActualizarUseCase UsuarioActualizarUseCase
@inject PersonaActualizarUseCase PersonaActualizarUseCase
@inject PermisoUsuarioAgregarUseCase PermisoUsuarioAgregarUseCase
@inject PermisoUsuarioEliminarUseCase PermisoUsuarioEliminarUseCase
@inject IServicioAutorizacion ServicioAutorizacion
@inject IServicioCacheDePermisos PermisosCache
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager NavigationManager

<PageTitle>
    @Titulo
</PageTitle>

<div class="container-md mt-4" style="max-width: 600px;">
    <header class="row justify-content-between align-items-center">
        <h3 class="mb-0 col">@Titulo</h3>
        <a href="/eventos/@Id/reservas" class="btn btn-outline-primary col-auto">
            <span class="oi oi-plus" aria-hidden="true"></span>
            Ver Reservas
        </a>
    </header>
    <main>
        @if (Cargando)
        {
            <p><em>Cargando datos de la persona...</em></p>
        }
        else if (ErrorDeCarga)
        {
            <div class="alert alert-danger">@MensajeDeError</div>
            <p><a href="/personas" class="btn btn-link">Volver a la lista</a></p>
        }
        else if (UsuarioAEditar == null)
        {
            <p><em>No se encontró la persona o no se pudo cargar el formulario.</em></p>
            <p><a href="/personas" class="btn btn-link">Volver a la lista</a></p>
        }
        else
        {
            <PersonaForm 
                TextoBoton="Guardar Cambios"
                PersonaAEditar="UsuarioAEditar"
                MensajeDeExito="@MensajeDeExito"
                MensajeDeError="@MensajeDeError"
                GuardarCambiosDelegado="GuardarCambios"
                PermitirCambiarPermisos="@PermitirCambiarPermisos"
                PermitirCambiarContraseña="@PermitirCambiarContraseña"
            />
        }
    </main>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Usuario? UsuarioAEditar { get; set; } = null;

    private bool Cargando = true;
    private bool ErrorDeCarga = false;
    private string? MensajeDeExito;
    private string? MensajeDeError;
    private bool Guardando = false;
    private string Titulo = "Editar Persona";
    private int UsuarioId = 0;
    private bool PermitirCambiarPermisos = false;
    private bool PermitirCambiarContraseña = false;

    protected override void OnInitialized()
    {
        Cargando = true;
        ErrorDeCarga = false;
        MensajeDeExito = null;
        MensajeDeError = null;
        var customAuthenticationStateProvider = (CustomAuthStateProvider)AuthProvider;
        UsuarioId = customAuthenticationStateProvider.ExtractUserId();
        PermitirCambiarPermisos = ServicioAutorizacion.Autorizar(UsuarioId, Permiso.AsignarPermisos);
        PermitirCambiarContraseña = UsuarioId == Id || ServicioAutorizacion.Autorizar(UsuarioId, Permiso.ModificarContraseña);
        try
        {
            var usuario = UsuarioObtenerPorIdUseCase.Ejecutar(UsuarioId, Id);
            if (usuario != null)
            {
                UsuarioAEditar = usuario;
                Titulo = $"Editar Persona: {usuario.Persona.NombreCompleto}";
            }
            else
            {
                ErrorDeCarga = true;
                MensajeDeError = $"Persona con ID {Id} no encontrada.";
            }
        }
        catch (Exception ex)
        {
            ErrorDeCarga = true;
            MensajeDeError = $"Error al cargar la persona: {ex.Message}";
            Console.WriteLine($"Error en OnParametersSetAsync: {ex}");
        }
        finally
        {
            Cargando = false;
        }
    }

    private void GuardarCambios(Usuario UsuarioAGuardar)
    {
        if (Guardando || UsuarioAGuardar == null) return;

        Guardando = true;
        MensajeDeExito = null;
        MensajeDeError = null;
        Persona PersonaAGuardar = UsuarioAGuardar.Persona;
        PersonaAGuardar.Id = Id;
        UsuarioAGuardar.PersonaId = Id;
        try
        {
            PersonaActualizarUseCase.Ejecutar(UsuarioId, PersonaAGuardar);
            if (string.IsNullOrEmpty(UsuarioAGuardar.ContrasenaHash) == false)
            {
                UsuarioActualizarUseCase.Ejecutar(UsuarioId, UsuarioAGuardar, UsuarioAGuardar.ContrasenaHash);
            }
            IEnumerable<Permiso> PermisosActuales = UsuarioAEditar?.Permisos ?? Enumerable.Empty<Permiso>();
            IEnumerable<Permiso> PermisosAGuardar = UsuarioAGuardar.Permisos ?? Enumerable.Empty<Permiso>();
            IEnumerable<Permiso> PermisosNuevos = PermisosAGuardar
                .Where(p => PermisosActuales.Contains(p) == false)
                .ToList();
            IEnumerable<Permiso> PermisosEliminados = PermisosActuales
                .Where(p => PermisosAGuardar.Contains(p) == false)
                .ToList();
            var customAuthenticationStateProvider = (CustomAuthStateProvider)AuthProvider;
            var isCurrentUser = UsuarioId != 0 && UsuarioId == UsuarioAEditar!.PersonaId;
            if (PermisosNuevos.Any())
            {
                PermisoUsuarioAgregarUseCase.Ejecutar(UsuarioAEditar!.PersonaId, PermisosNuevos);
                if (isCurrentUser)
                {
                    PermisosCache.Agregar(UsuarioId, PermisosNuevos);
                }
            }
            if (PermisosEliminados.Any())
            {
                PermisoUsuarioEliminarUseCase.Ejecutar(UsuarioAEditar!.PersonaId, PermisosEliminados);
                if (isCurrentUser)
                {
                    PermisosCache.Eliminar(UsuarioId, PermisosEliminados);
                }
            }

            MensajeDeExito = "Cambios guardados con éxito. Redirigiendo...";

            NavigationManager.NavigateTo("/personas");
        }
        catch (Exception ex)
        {
            MensajeDeError = $"Error al guardar los cambios: {ex.Message}";
        }
        finally
        {
            Guardando = false;
            StateHasChanged();
        }
    }
}
